<h1>About Page</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<div class="row">
	<div class="col-md-4">
		<img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15877355_651929138327156_9000651890630852608_n.jpg" 
		width="300" alt="example">
	</div>
	<div class="col-md-8">Hi! User </div>
</div>
